body{
    background-color: #addfd3;
}

.cards{
    background-color: #eae3d0;
}
img{
    width: 50%;
}
button{
    height: 3rem;
    width: 6rem;
    background-color: #ffa5aa;
}
.pokemons-container{
    background-color: #eae3d0;
}